@import url(./reset.css);
@import url(./variables.css);
@import url(./utils.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-purple-100);
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}

.background {
  background-color: var(--color-purple-900);
  width: 100vw;
  height: 457px;
  position: absolute;
  z-index: -1;
}

.header {
  padding: 32px var(--padding-sm) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.8;
  text-decoration: none;
  border-bottom: solid 3px var(--color-green);
  height: 2.188rem;
}

.header a:hover {
  color: var(--color-green);
}

.hero {
  padding: 56px var(--padding-sm) 144px;
}

.hero__title {
  font-family: var(--font-family-primary);
  font-size: 3rem;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 40px;
}

.button {
  background-color: var(--color-green);
  color: var(--color-purple-900);
  font-weight: bold;
  line-height: 1.8;
  text-decoration: none;
  padding: 12px 32px;
  display: block;
  max-width: fit-content;
  margin: auto;
}

@media (max-width: 330px) {
  .hero__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding-left: 44px;
    padding-right: 44px;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .button {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .header {
    box-sizing: content-box;
    max-width: 1120px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .hero__title {
    font-size: 5rem;
  }
}
