@import url(./reset.css);
@import url(./variables.css);
@import url(./utils.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-purple-100);
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.background {
  background-color: var(--color-purple-900);
  width: 100vw;
  height: 481px;
  position: absolute;
  z-index: -1;
}

.background-curve {
  width: 100vw;
  position: relative;
  z-index: inherit;
  top: calc(481px + 2px);
  display: block;
}

.background-curve img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header {
  padding: 32px var(--padding-sm) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.8;
  text-decoration: none;
  border-bottom: solid 3px var(--color-green);
  height: 2.188rem;
}

.header a:hover {
  color: var(--color-green);
}

.hero {
  padding: 56px var(--padding-sm) 64px;
}

.hero__title {
  font-family: var(--font-family-primary);
  font-size: 3rem;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 40px;
}

.button {
  background-color: var(--color-green);
  color: var(--color-purple-900);
  font-weight: bold;
  line-height: 1.8;
  text-decoration: none;
  padding: 12px 32px;
  display: block;
  max-width: fit-content;
  margin: auto;
}

.illustration {
  display: block;
  padding: 0 28px;
}

.value {
  padding: 64px var(--padding-sm);
  color: var(--color-purple-900);
  text-align: center;
}

.value__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.value__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-basis: 100%;
}

.value__num {
  font-size: 1.25rem;
  font-family: var(--font-family-primary);
  border: var(--color-purple-900) 1px solid;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.value__title {
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 16px;
}

.value__text {
  line-height: 1.8;
  max-width: 352px;
  margin: auto;
}

@media (max-width: 330px) {
  .hero__title {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .background {
    height: 540px;
  }

  .background-curve {
    top: calc(540px + 2px);
  }

  .header {
    box-sizing: content-box;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    max-width: 1120px;
    margin: 0 auto;
  }

  .hero {
    padding-bottom: 40px;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .button {
    font-size: 1.125rem;
  }

  .illustration {
    box-sizing: content-box;
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    max-width: 603px;
    margin: auto;
  }

  .value {
    box-sizing: content-box;
    padding: 56px var(--padding-md) 116px;
    max-width: 1120px;
    margin: auto;
    text-align: left;
  }

  .value__item {
    flex-direction: row;
    gap: 56px;
  }

  .value__text {
    max-width: none;
  }

  .value__title {
    font-size: 1.75rem;
    margin-bottom: 28px;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding-bottom: 88px;
  }

  .hero__title {
    font-size: 5rem;
  }

  .background {
    height: 771px;
  }

  .background-curve {
    top: calc(771px + 2px);
  }

  .illustration {
    max-width: 767px;
  }

  .value {
    text-align: center;
  }

  .value__list {
    flex-direction: row;
  }

  .value__item {
    flex-direction: column;
  }

  .value__title {
    font-size: 2rem;
  }

  .value__text {
    font-size: 1.125rem;
  }
}
